.gradle
/local.properties
.DS_Store # only needed under mac os
/build
/captures
*.iml
.idea
*.apk #optional
app/qrcodeecommerce_debug.jks
app/qrcodeecommerce_release.jks
keystore.properties
**/google-services.json
